@keyframes translateOhio {
  from { transform: translateZ(0px); }
  to   { transform: translateZ(300px); }
}
@keyframes colorchange{
  0%{background-color: #006400;}
  20%{background-color: #35D95F;}
  40%{background-color: #4AEB76;}
  60%{background-color: #75FF9D;}
  80%{background-color: #91F6B0;}
  100%{background-color: #fff;}
}
@keyframes star{
  from {transform: translateX(0px) translateY(0px);}
  to{ transform: translateX(-1500px) translateY(300px);}
}
@keyframes fly{
  from {transform: translateX(0px);}
  to {transform: translateX(-2500px);}
}
@keyframes b1{
  from{top: 375px;}
  to{top: 175px;  }
}
@keyframes b2{
  from{top: 375px;}
  to{top: 120px; }
}
@keyframes b3{
  from{top: 375px;}
  to{top: 250px;  }
}
@keyframes b4{
  from{top: 375px;}
  to{top: 155px;  }
}
@keyframes b5{
  from{top: 375px;}
  to{top: 60px;  }
}
@keyframes b6{
  from{top: 375px;}
  to{top: 100px;  }
}
@keyframes b7{
  from{top: 375px;}
  to{top: 125px;  }
}
