.i40{
  position: absolute;
  width: 40px;
  height: 50px;
  background-color: rgba(255,255,255,0);
  top: 39%;
  left: 44%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.i40sign{
  height: 35px;
  width: 30px;
  border-radius: 25% 25% 60% 60%;
  background-color: blue;
  border: 1px solid black;
  color: white;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 7px solid red;
  letter-spacing: 1px;
}
.i40post{
  height: 80px;
  top: 93%;
  width: 3px;
  background-color: silver;
  position: absolute;
  border: 1px solid grey;
}
.cactus{
  display: none;
}
.cactusShadow{
  display: none;
}
.cactusBody{
  height: 125px;
  width: 38px;
  background-color: green;
  border-radius: 42% 50% 14% 10%;
  position: absolute;
  z-index: 1;
  bottom: 55%;
  left: 77%;
}
.cactusArm{
  height: 50px;
  width: 20px;
  background-color: green;
  border-radius: 41% 50% 0 50%;
  position: absolute;
  z-index: 1;
  top: 37%;
  left: 75%;
}
.cactusConnector{
  height: 20px;
  width: 20px;
  background-color: green;
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 76%;
}
.cactusBodyS{
  height: 125px;
  width: 38px;
  background-color: black;
  border-radius: 42% 50% 14% 10%;
  position: absolute;
  z-index: 1;
  bottom: 55%;
  left: 77%;
  transform: rotate(180deg);
}
.cactusArmS{
  height: 50px;
  width: 20px;
  background-color: black;
  border-radius: 82% 45% 20% 50%;
  position: absolute;
  z-index: 1;
  top: 37%;
  left: 74.5%;
  transform: rotate(180deg);
}
.cactusConnectorS{
  height: 20px;
  width: 20px;
  background-color: black;
  position: absolute;
  z-index: 1;
  top: 37%;
  left: 76%;
}
.ql{
  position: absolute;
  top: 393px;
  display: none;
  /*left: 300px;*/
}

.qlSign {
  transform: rotateY(-2deg) rotateZ(-1deg);
  width: 230px;
  height: 150px;
  background: grey;
  color: black;
  position: absolute;
  left: 404px;
  text-align: center;
  line-height: 7px;
  font-family: 'Graduate', cursive;
  font-size: 14px;
  box-shadow: 1px 1px 1px black;
  /*border-bottom: 200px solid transparent;*/
}
.qlSign h3{
  font-size: 26px;
  margin-bottom: 27px;
  font-family: 'Racing Sans One', cursive;
  color: red;
  text-shadow: 1px 1px 1px white;
}
.qlSign span{
  font-size: 30px;
}
.qlPost{
  width: 10px;
  height: 290px;
  background-color: black;
  position: absolute;
  top: 149px;
  left: 300px;
  border-radius: 0 0 30% 15%;

}
.qlLPost{
  left: 440px;
  top: 152px;

}
.qlRPost{
  left: 590px;
  border-bottom: 8px solid #b1a688;
}
.rock{
  height: 79px;
  width: 49px;
  background-color: grey;
  border-radius: 31% 50% 31% 12%;
  position: absolute;
  z-index: 0;
  top: 37%;
  left: 10%;
}
.headlight{
  width: 50px;
  height: 900px;
  border-radius: 50% 50% 20% 15%;
  /*position: absolute;*/
  background-color: beige;
  overflow: visible;
}
.animateStar{
  animation: star 1s;
}
.shootingStar{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white !important;
  position: absolute;
  z-index: 1;
  top: 10%;
  right: -1%;

}
