.beach{
  width: 600px;
  height: 400px;
  background: beige;
  position: absolute;
  left: -4%;
  bottom: 9%;
  transform: rotate(-10deg);
  border: 4px solid white;
}
.sea{
  width: 700px;
  height: 200px;
  bottom: 335px;
  background: #004772;
  position: absolute;
  z-index: -1;
  left: -1%
}
.cliff{
  transform: rotate(-23deg);
  background: #654321;
  height: 900px;
  width: 85%;
  position: absolute;
  top: 0%;
  right: -28%;
  border-radius: 32%;
  display: none;
  border: 3px solid #3F250B;
}
.cave{
  width: 130px;
  height: 220px;
  background: black;
  border-radius: 50% 50% 0 0;
  position: relative;
  margin: 0 auto;
  top: 306px;
  display: none;
  border: 2px solid grey;
}
.caveHole{
  position: relative;
  margin: 0 auto;
  width: 24px;
  height: 134px;
  border-radius: 50% 50% 0 0;
  top: 264px;
  background: #7ec0ee;
  display: none;
}
.caliWelcome{
  width: 85px;
  height: 43px;
  margin: 0 auto;
  position: relative;
  background: #0DA7FF;
  bottom: 102px;
  color: #E3E228;
  text-align: center;
  font-family: 'Playball', cursive;
  border: 1px solid white;
  border-radius: 2px;
  box-shadow: 1px 2px 2px black;
}
.caliWelcome p{
  margin-top: 1px;
}
.caliWelcome span{
  font-size: 11px;
}
.planePart{
  position: absolute;
  background: #004772;
  /*border: 2px solid black;*/
}
.wing{
  background: #004772;

}
.planeBody{
  width: 227px;
  height: 58px;
  border-radius: 30% 50% 10% 50%;
  top: 8%;
  left: 5%;
  border-left: 3px solid black;
  box-shadow: 2px 2px 2px grey;
}
.topWing{
  width: 45px;
      height: 50px;
      border-radius: 50% 50% 0 0;
      top: -28px;
      left: 151px;
      transform: rotate(-26deg);
      border-top: 1px solid black;
      position: absolute;

}
.bottomWing{
  position: absolute;
      width: 45px;
      height: 80px;
      border-radius: 0% 0% 50% 50%;
      top: 20px;
      left: 176px;
      transform: rotate(-17deg);
}
.planeTail{
  width: 45px;
  height: 67px;
  top: -28px;
  left: 256px;
  border-top: 1px solid black;
  border-radius: 50% 50% 0 0;
}
.prop{
  width: 10px;
  height: 37px;
    border-radius: 40% 40% 50% 50%;
    background: black;
}
.topProp{
  top: -3px;
      left: 66px;
      height: 29px;
}
.bottomProp{
  top: 31px;
  left: 66px;

}
.plane{
  position: relative;
  left: 100%;
  top: -33%;
}
.fly{
  animation: fly 12s linear;
}
.string{
  height: 1px;
  width: 46px;
  top: 34px;
  left: 300px;
}
.hook{
  height: 69px;
  width: 1px;
}
.topHook{
  transform: rotate(-45deg);
  top: 24px;
  left: 368px
}
.bottomHook{
  transform: rotate(39deg);
  top: -27px;
  left: 367px;
}
.banner{
  width: 400px;
  height: 104px;
  left: 390px;
  top: -20px;
  background: orange;
  border-radius: 4px;
  box-shadow: 2px 3px 2px grey;
}
.banner h4{
  color: dodgerblue;
      text-shadow: 1px 1px 1px black;
      font-size: 32px;
      margin-top: 30px;
      display: inline-block;
      margin-left: 10px;
      font-family: 'Racing Sans One', cursive;
}
.banner h3{
  color: #004772;
  display: inline-block;
  /* text-align: center; */
  margin-top: 11px;
  font-size: 23px;
  margin-left: 29px;
  position: relative;
  top: -25px;
  left: -5px;
  font-family: 'Racing Sans One', cursive;
}
.banner p{
  font-size: 19px;
  color: #004772;
  display: inline-block;
  position: relative;
  left: 122px;
  top: -74px;
  font-family: 'Racing Sans One', cursive;
}
.soar{
  background: rgba(0,0,0,0);
}
