.beach{
  width: 600px;
  height: 400px;
  background: beige;
  position: absolute;
  left: -4%;
  bottom: 9%;
  transform: rotate(-10deg);
}
.sea{
  width: 700px;
  height: 200px;
  bottom: 335px;
  background: #004772;
  position: absolute;
  z-index: -1;
  left: -1%
}
.cliff{
  transform: rotate(-23deg);
  background: #654321;
  height: 900px;
  width: 85%;
  position: absolute;
  animation: colorchange;
  top: 0%;
  right: -28%;
  border-radius: 32%;
  display: none;
  border: 3px solid #8B4513;
}
.cave{
  width: 130px;
  height: 220px;
  background: black;
  border-radius: 50% 50% 0 0;
  position: relative;
  margin: 0 auto;
  top: 306px;
  display: none;
  border: 2px solid grey;
}
.caveHole{
  position: relative;
  margin: 0 auto;
  width: 24px;
  height: 134px;
  border-radius: 50% 50% 0 0;
  top: 264px;
  background: #7ec0ee;
  display: none;
}
.caliWelcome{
  width: 85px;
  height: 43px;
  margin: 0 auto;
  position: relative;
  background: #0DA7FF;
  bottom: 100px;
  color: #E3E228;
  text-align: center;
  font-family: 'Playball', cursive;
  border: 1px solid white;
  border-radius: 2px;
  box-shadow: 1px 2px 2px black;
}
.caliWelcome p{
  margin-top: 1px;
}
.caliWelcome span{
  font-size: 11px;
}
