.tower{
  height: 500px;
  width: 1000px;
  margin-bottom: 100px;

}
.chimney{
  width: 40px;
  height: 60px;
  background-color: #A35538;
  position: absolute;
  left: 434px;
  z-index: -1;
}
.window{
  width: 30px;
  height: 30px;
  background: grey;
  position: absolute;
  border: 1px solid black;
}

.bellTower{
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 90px solid grey;
  margin: 0 auto;
  margin-top: 280px;
}
.bellTower p{
  display: block;
  padding-top: 50px;
  margin-left: -23px;
  font-size: 26px;
  font-family: 'Noto Sans', sans-serif;
}
.NYWelcome{
  width: 200px;
  height: 200px;
  background-color: #663300;
  margin: 0 auto;
  border-top: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.colgate{
  width: 100px;
  height: 50px;
  background-color: blue;
  position: relative;
  z-index: 0;
  bottom: 53%;
  margin: 0 auto;
}
.crosswalk{
  height: 200px;
  width: 100%;
  background-color: #841f27;
}
.stoplight{
  height: 100px;
  width: 200px;
}
.anchor{
  height: 191px;
  width: 125px;
  background-color: rgba(0,0,0,0);
  position: absolute;
  z-index: 0;
  top: 40.5%;
  left: 46.5%;
  border-top: 2px solid black;
  border-right: 8px solid grey;
}
.exit p{
  bottom: 38%;
  position: relative;
  color: white;
}
.gate{
background-color: green;
height: 47px;
color: white;
position: relative;
bottom: 19%;
display: flex;
justify-content: center;
align-items: center;
border: 2px solid white;
text-shadow: 1px solid black;
}
.gate p{
  font-size: 12px;
}

/*diploma*/

.degree{
  width: 325px;
  height: 250px;
  background-color: #fdf5e8;
  position: absolute;
  right: 5%;
  top: 221px;
  font-family: 'Playball', cursive;
  box-shadow: 3px 3px 1px #888888;
  display: none;
}
.degree h4{
  width: 250px;
  margin: -14px auto;
  font-size: 20px;
}
.c1{
  transform: rotate(-79deg);
  position: absolute;
  display: block;
  margin-top: 57px;
  margin-left: 62px;
}
.o2{
  transform: rotate(-58deg);
  position: absolute;
  display: block;
  margin-top: 51px;
  margin-left: 68px;
}
.l3{
  transform: rotate(-68deg);
  position: absolute;
  display: block;
  margin-top: 46px;
  margin-left: 73px;
}
.g4{
  transform: rotate(-57deg);
  position: absolute;
  display: block;
  margin-top: 40px;
  margin-left: 77px;
}
.a5{
  transform: rotate(-50deg);
  position: absolute;
  display: block;
  margin-top: 34px;
  margin-left: 83px;
}
.t6{
  transform: rotate(-40deg);
  position: absolute;
  display: block;
  margin-top: 29px;
  margin-left: 91px;
}
.e7{
  transform: rotate(-18deg);
  position: absolute;
  display: block;
  margin-top: 25px;
  margin-left: 97px;
}
.u8{
  transform: rotate(-15deg);
  position: absolute;
  display: block;
  margin-top: 22px;
  margin-left: 111px;
}
.n9{
  transform: rotate(6deg);
  position: absolute;
  display: block;
  margin-top: 21px;
  margin-left: 126px;
}
.i10{
  transform: rotate(13deg);
  position: absolute;
  display: block;
  margin-top: 22px;
  margin-left: 135px;
}
.v11{
  transform: rotate(24deg);
  position: absolute;
  display: block;
  margin-top: 24px;
  margin-left: 142px;
}
.e12{
  transform: rotate(22deg);
  position: absolute;
  display: block;
  margin-top: 28px;
  margin-left: 150px;
}
.r13{
  transform: rotate(34deg);
  position: absolute;
  display: block;
  margin-top: 32px;
  margin-left: 157px;
}
.s14{
  transform: rotate(40deg);
  position: absolute;
  display: block;
  margin-top: 37px;
  margin-left: 164px;
}
.i15{
  transform: rotate(46deg);
  position: absolute;
  display: block;
  margin-top: 42px;
  margin-left: 171px;
}
.t16{
  transform: rotate(55deg);
  position: absolute;
  display: block;
  margin-top: 48px;
  margin-left: 175px;
}
.y17{
  transform: rotate(55deg);
  position: absolute;
  display: block;
  margin-top: 54px;
  margin-left: 179px;
}
.degree h3{
  display: block;
  width: 105px;
  margin-top: 80px;
  margin-left: 115px;
  font-size: 16px;
}
.degree p{
  text-align: center;
  font-size: 11.5px;
  margin: 5px 20px 22px 20px;
}
.degree h5{
  display: block;
  margin-top: -10px;
  margin-left: 105px;
}
#triangle-topleft {
  width: 0;
  height: 0;
  border-top: 50px solid #8B0000;
  border-right: 50px solid transparent;
  display: block;
  position: absolute;
  top: 0%;
}
#triangle-topright{
  width: 0;
	height: 0;
	border-top: 50px solid #8B0000;
	border-left: 50px solid transparent;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
#triangle-bottomleft{
  width: 0;
	height: 0;
	border-bottom: 50px solid #8B0000;
	border-right: 50px solid transparent;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}
#triangle-bottomright{
  width: 0;
	height: 0;
	border-bottom: 50px solid #8B0000;
	border-left: 50px solid transparent;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}
