
.sun {
  background: #ff9944;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 50px rgba(255,153,68,0.7);
  position: absolute;
  left: 20%;
  top: 10%;
}
.post{
  height: 100px;
  width: 5px;
  background-color: silver;
  top: 377px;
  position: absolute;
  margin: 0 auto;
  border: 1px solid grey;
}
.lpost{
  margin-left: 7%
}
.rpost{
  margin-left: 91.5%;
}
.ground{
  height: 500px;
  width: 100%;
  position: absolute;
  top: 39%;
  background-color: #006400;
}
.ohioWelcome{
  position: relative;
  width: 200px;
  margin: 0 auto;
}
.ohioSign{
  height: 100px;
  width: 200px;
  background-color: #003366;
  position: relative;
  top: 270px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:space-around;
  border: 4px solid white;
  border-radius: 3px;
  left: -1%;
}
.ohioSign h3{
  font-family: 'Roboto', sans-serif;
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
  text-shadow: 2px 2px brown;
}
.ohioSign p{
  color: white;
  font-size: 18px;
  font-family: 'Dancing Script', cursive;

}


body {
  height:1000px;
}

.road-container{
 -webkit-perspective: 100px;
 -webkit-perspective-origin:50% 50%;
 border: 2px solid black;
 height: 800px;
 width: 800px;
 left:50%;
 margin-left:-200px;
 position:fixed;
}
.box {
  position:absolute;
  width:100px;
  height:100px;
  left:50%;
  top:50%;
  margin-left:-50px;
  margin-top:-50px;
}
#OH {
  background-color:rgba(255,0,0,.5);
  border:2px solid red;
  -webkit-transform:translateZ(0px)

}
#NY {
  background-color:rgba(0,255,0,.5);
  border:2px solid green;
  -webkit-transform:translateZ(-500px)
}
#AZ {
 background-color:rgba(0,0,255,.5);
 border:2px solid blue;
 -webkit-transform:translateZ(-1000px)
}
#GA{
  background-color:rgba(30,30,30,.5);
  border:2px solid purple;
  -webkit-transform:translateZ(-1500px)
}
#CA{
  background-color:rgba(200,0,255,.5);
  border:2px solid yellow;
  -webkit-transform:translateZ(-2000px)
}
#TX{
  background-color:rgba(0,100,255,.5);
  border:2px solid tomato;
  -webkit-transform:translateZ(-2500px)
}
.road-box{
  height: 1000px;
  width: 1000px;
  border: 2px solid black;
  margin: 0 auto;
  perspective: 1000px;
}
.road{
  height: 1500px;
  width: 800px;
  margin: 0 auto;
  background-color: grey;
  transform: rotateX(92deg);


}

body {
  perspective: 600px;
  background: #7ec0ee;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.wrapper {
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: rotateX(75deg);
}

.states {
  width: 600px;
  height: 2000px;
  transform-style: preserve-3d;
  overflow: scroll;
  transform: translate(-50%, 0);
  position: fixed;
  top: -100%;
  left: 50%;
}
.state {
  position: relative;
  margin: auto;
  width: 600px;
  height: 3000px;
  background-color: grey;
}
.signsWrapper{
  transform-style: preserve-3d;
  position: absolute;
  bottom: 0;
  left: 25%;
  transform: rotateX(75deg);f
}
.signs{
  width: 300px;
  height: 2000px;
  transform-style: preserve-3d;
  overflow: scroll;
  transform: translate(-50%, 0);
  position: fixed;
  top: -100%;
  left: 50%;
}
.austinContainer{
  -webkit-perspective: 100;
}
.austin{
  	width: 150px;
  	height: 100px;
  	-webkit-transform: skew(20deg);
  	   -moz-transform: skew(20deg);
  	     -o-transform: skew(20deg);
  	background-color: red;

}
.sign{
  position: relative;
  margin: auto;
  width: 600px;
  height: 3000px;
  background-color: green;
}
.container{
-webkit-perspective: 1000;
}
.cleveland{
  overflow: visible !important;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.clevelandSign{
  height: 100px;
  width: 100px;
  background-color: green;
  color: white;
  text-align: center;
  transform: rotateX(-45deg);
  margin: 0 auto;
}

.title {
  color: #fff;
  font-size: 800%;
  position: absolute;
  left: 50%;
  top: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}
.dash {
  color: #fff;
  font-size: 800%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dash1 {top: 10%;} .dash2{top: 20%} .dash3{top: 30%} .dash4{top:40%} .dash5{top:50%} .dash6{top:60%} .dash7{top:70%} .dash8{top:80%} .dash9{top:90%} .dash10{top: 99%}
