body {
  height:20000px;
}

.road-container{
 -webkit-perspective: 100px;
 -webkit-perspective-origin:50% 50%;
 border: 2px solid black;
 height: 1000px;
 width: 1000px;
 left:50%;
 margin-left:-200px;
 position:fixed;
}
.box {
  position:absolute;
  width:100px;
  height:100px;
  left:50%;
  top:50%;
  margin-left:-50px;
  margin-top:-50px;
}
#OH {
  background-color:rgba(255,0,0,.5);
  border:2px solid red;
  -webkit-transform:translateZ(0px)

}
#NY {
  background-color:rgba(0,255,0,.5);
  border:2px solid green;
  -webkit-transform:translateZ(-500px)
}
#AZ {
 background-color:rgba(0,0,255,.5);
 border:2px solid blue;
 -webkit-transform:translateZ(-1000px)
}
#GA{
  background-color:rgba(30,30,30,.5);
  border:2px solid purple;
  -webkit-transform:translateZ(-1500px)
}
#CA{
  background-color:rgba(200,0,255,.5);
  border:2px solid yellow;
  -webkit-transform:translateZ(-2000px)
}
#TX{
  background-color:rgba(0,100,255,.5);
  border:2px solid tomato;
  -webkit-transform:translateZ(-2500px)
}
