.leftPull{
  transform: rotate(13deg);
  height: 475px;
}
.rightPull{
  top: 38%;
}
.capitol{
  position: relative;
  top: 5%;
  width: 100px;
  margin: 0 auto;
  right: 20px;
  top: 405px;

}
.stick{
  display: none;
}
.capitolPiece{
  position: absolute;
  background: #ffe4e1;
  border: 1px solid black;
  border-bottom: none;
  /*border: 1px solid black;*/
left: 25%;
}
.topper{
  width: 8px;
  height: 14px;
  border-radius: 50% 50% 0 0;
  left: 65px;
  bottom: -1px;
}
.divider{
  width: 1px;
  height: 52px;
  background: black;
  transform: rotate(90deg);
  position: absolute;
  z-index: 1;
  left: 68px;
}
.dividerUp{
  top: -9px;

}
.dividerDown{
  top: 15px;
}
.column{
  width: 1px;
  background: black;
  position: absolute;
  z-index: 1;
}
.column1{
  height: 16px;
  left: 47px;
  top: 19px;
}
.column2{
  height: 12px;
      left: 53px;
      top: 19px;
}
.column3{
  height: 9px;
  left: 60px;
  top: 19px
}
.column4{
  height: 9px;
  left: 79px;
  top: 19px;
}
.column5{
  height: 12px;
  left: 85px;
  top: 19px;
}
.column6{
  height: 17px;
  left: 91px;
  top: 19px;

}
.dome{
  width: 52px;
  height: 38px;
  border-radius: 50% 50% 0 0;
  top: -5px;
  /* margin: 0 auto; */
  left: 43px;
  border-bottom: none;
}
.triangleLeft{
  background: black;
  width: 1.2px;
  height: 32px;
  /* border: 1px solid black; */
  transform: rotate(57deg);
  top: 15px;
  left: 56px;
  z-index: 1;
  border: none;
}
.triangleRight{
  width: 1.2px;
  height: 30px;
  background: black;
  /* border: 1px solid black; */
  left: 82px;
  top: 16px;
  z-index: 1;
  transform: rotate(-54deg);
  border: none;
}
.middle{
  width: 52px;
  height: 30px;
  left: 43px;
  margin-top: 32px;
  border-top: none;
}
.bodyBlock{
  width: 110px;
  height: 105px;
  /* top: -8%; */
  margin-top: 47%;
  left: 13px;
}
.entrance{
  width: 30px;
      height: 50px;
      border-radius: 50% 50% 0 0;
      left: 51%;
      margin-top: 102px;
      border: 1px solid black;
      border-bottom: none;
}
.flag{
  background: white;
      height: 50px;
      width: 90px;
      position: absolute;
      top: 6px;
      left: 80px;
      transform: scale(0.3) rotate(49deg);
}
.pole{
  background: black;
      width: 1px;
      height: 24px;
      position: absolute;
      top: 21px;
      left: 102px;
      transform: rotate(51deg);
}

.flagLeft{
  background: #000080;
  height: 50px;
  width: 30px;
}
.flagTop{
  background: white;
  width: 60px;
  height: 25px;
}
.flagBottom{
  background: red;
  width: 60px;
  height: 25px;
}
.flagBody{
  margin-top: -50px;
  margin-left: 30px;
}
#tStar {
  margin: 50px 0;
      position: absolute;
      transform: scale(-9);
      display: block;
      color: white;
      width: 0px;
      height: 0px;
      border-right: 100px solid transparent;
      border-bottom: 70px solid white;
      border-left: 100px solid transparent;
      transform: scale(-2);
      -moz-transform: rotate(35deg);
      -webkit-transform: rotate(35deg) scale(0.1);
      -ms-transform: rotate(35deg);
      -o-transform: rotate(35deg);
      bottom: -59px;
      margin-left: -84px;
}
#tStar:before {
   border-bottom: 80px solid white;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#tStar:after {
   position: absolute;
   display: block;
   color: white;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid white;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}
