.leftPull{
  transform: rotate(13deg);
  height: 475px;
}
.rightPull{
  top: 38%;
}
.capitol{
  position: relative;
  top: 5%;
  width: 100px;
  margin: 0 auto;
  right: 20px;
  top: 440px;

}
.stick{
  display: none;
}
.capitolPiece{
  position: absolute;
  background: #A35538;
  border: 1px solid black;
  border-bottom: none;
  /*border: 1px solid black;*/
left: 25%;
}
.topper{
  width: 8px;
  height: 14px;
  border-radius: 50% 50% 0 0;
  left: 65px;
  bottom: -1px;
}
.divider{
  width: 1px;
  height: 52px;
  background: black;
  transform: rotate(90deg);
  position: absolute;
  z-index: 1;
  left: 69px;
}
.dividerUp{
  top: -9px;

}
.dividerDown{
  top: 15px;
}
.column{
  width: 1px;
  background: black;
  position: absolute;
  z-index: 1;
}
.column1{
  height: 16px;
  left: 47px;
  top: 19px;
}
.column2{
  height: 12px;
      left: 53px;
      top: 19px;
}
.column3{
  height: 9px;
  left: 60px;
  top: 19px
}
.column4{
  height: 9px;
  left: 79px;
  top: 19px;
}
.column5{
  height: 12px;
  left: 85px;
  top: 19px;
}
.column6{
  height: 17px;
  left: 91px;
  top: 19px;

}
.dome{
  width: 52px;
  height: 38px;
  border-radius: 50% 50% 0 0;
  top: -5px;
  /* margin: 0 auto; */
  left: 43px;
  border-bottom: none;
}
.triangleLeft{
  background: black;
  width: 1.2px;
  height: 33px;
  /* border: 1px solid black; */
  transform: rotate(57deg);
  top: 15px;
  left: 57px;
  z-index: 1;
  border: none;
}
.triangleRight{
  width: 1.2px;
  height: 30px;
  background: black;
  /* border: 1px solid black; */
  left: 82px;
  top: 16px;
  z-index: 1;
  transform: rotate(-54deg);
  border: none;
}
.middle{
  width: 52px;
  height: 30px;
  left: 43px;
  margin-top: 32px;
  border-top: none;
}
.bodyBlock{
  width: 110px;
  height: 105px;
  /* top: -8%; */
  margin-top: 47%;
  left: 13px;
  background-image: url('./images/ga.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 86%;
  background-position-y: 26%;
}
.entrance{
  width: 30px;
      height: 50px;
      border-radius: 50% 50% 0 0;
      left: 51%;
      margin-top: 102px;
      border: 1px solid black;
      border-bottom: none;
      background: -webkit-radial-gradient(black, grey);
}
.flag{
  background: white;
      height: 50px;
      width: 90px;
      position: absolute;
      top: 6px;
      left: 80px;
      transform: scale(0.3) rotate(49deg);
}
.pole{
  background: black;
      width: 1px;
      height: 24px;
      position: absolute;
      top: 21px;
      left: 102px;
      transform: rotate(51deg);
}

.flagLeft{
  background: #000080;
  height: 50px;
  width: 30px;
}
.flagTop{
  background: white;
  width: 60px;
  height: 25px;
}
.flagBottom{
  background: red;
  width: 60px;
  height: 25px;
}
.flagBody{
  margin-top: -50px;
  margin-left: 30px;
}
#tStar {
  margin: 50px 0;
      position: absolute;
      transform: scale(-9);
      display: block;
      color: white;
      width: 0px;
      height: 0px;
      border-right: 100px solid transparent;
      border-bottom: 70px solid white;
      border-left: 100px solid transparent;
      transform: scale(-2);
      -moz-transform: rotate(35deg);
      -webkit-transform: rotate(35deg) scale(0.1);
      -ms-transform: rotate(35deg);
      -o-transform: rotate(35deg);
      bottom: -59px;
      margin-left: -84px;
}
#tStar:before {
   border-bottom: 80px solid white;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#tStar:after {
   position: absolute;
   display: block;
   color: white;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid white;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

.building{
  background: #6c6969;
  width: 30px;
  height: 550px;
  position: absolute;
  top: 650px;
}
.bootstrap{
  left: 5%;
  width: 45px;
  background-image: url('./images/aus1.png');
  background-position: center;
  background-size: 900%;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0);
}
.chrome{
  left: 18%;
  width: 35px;
  background-image: url('./images/aus3.png');
  background-position: center;
  background-size: 800%;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0);
}
.react{
  left: 27%;
  width: 60px;
  background-image: url('./images/aus4.png');
  background-position: center;
  background-size: 800%;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0);
}
.js{
  left: 67%;
  width: 45px;
  background-image: url('./images/aus5.png');
  background-position: center;
  background-size: 900%;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0);
}
.htmlCss{
  left: 75%;
  width: 55px;

}
.git{
  left: 85%;
  width: 60px;
  background-image: url('./images/aus6.png');
  background-position: center;
  background-size: 800%;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0);
}
.node{
  left: 94%;
  width: 50px;
  background-image: url('./images/aus7.png');
  background-position: center;
  background-size: 700%;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0);
}
.rise1{
  animation: b1 2.5s;
  top: -2%;
}
.rise2{
  animation: b2 3s;
  top: -3%;
}
.rise3{
  animation: b3 2s;
  top: 0;
}
.rise4{
  animation: b4 3.5s;
  top: -4%;
}
.rise5{
  animation: b5 2.5s;
  top: 7%;
}
.rise6{
  animation: b6 2s;
  top: -4%;
}
.rise7{
  animation: b7 2.5s;
  top: 0;
}
.header{
  position: absolute;
  width: 150px;
  height: 50px;
  background: rgba(0,0,0,0);
  transform: rotate(-65deg);
  top: 100px;
  color: black;
  text-align: center;
  font-size: 20px;
  font-family: 'Inconsolata', monospace;
  display: none;
}
.s1head{
  left: 2%;
  top: 6%;
}
.s2head{
  left: 14%;
  top: 8%;
}
.s3head{
  left: 24%;
  top: 12%;
}
.s4head{
  left: 64%;
  top: 2%;
}
.s5head{
  left: 72%;
  top: 0;
}
.s6head{
  left: 82%;
  top: 5%;
}
.s7head{
  left: 91%;
  top: 8%;
}
